p   {
    color:blueviolet;
    font-size: 18px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
strong  {
    font-size: 30px;
}
img {
    border-radius: 5%;
}
body    {
background-color: aquamarine;
padding: 0 50px;
}